* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f9faf6;
  font-family: 'Cormorant', serif; }

a:link {
  text-decoration: none;
  margin: 5px;
  color: #1f1d1d; }

a:visited {
  text-decoration: none;
  margin: 5px;
  color: #1f1d1d; }

a:hover {
  text-decoration: none;
  margin: 5px;
  color: #1f1d1d; }

a:active {
  text-decoration: none;
  margin: 5px;
  color: #1f1d1d; }

.btn {
  width: 180px;
  height: 45px;
  cursor: pointer;
  background: none;
  border: 1px solid #ffffff;
  outline: #ffffff;
  margin: 15px;
  padding: 10px; }

.btn:hover {
  transition: .3s ease-in-out;
  background: #ffffff50;
  border: 2px solid #ffffff; }

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100; }

#top-banner {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #8F7A66;
  color: #ffffff; }

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-weight: 600; }

.nav {
  display: flex;
  flex-direction: flex-start; }

.nav-sub {
  flex-direction: flex-start; }

.nav-sub:hover {
  font-weight: 800;
  color: #AA8E72; }

.user-info {
  display: flex;
  flex-direction: flex-end; }

.home {
  position: relative; }

.home-bg {
  display: flex;
  filter: contrast(0.8); }

.home-bg-img {
  flex-grow: 1;
  height: 70vh;
  object-fit: cover; }

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  align-content: center; }

.home-item {
  text-align: center;
  margin: 10px;
  padding: 10px; }

.home-content h1 {
  font-size: 3rem;
  font-weight: 600; }

.home-content h4 {
  font-size: 1.3rem;
  font-weight: 500; }

.popular {
  position: relative;
  margin: 25px; }

.subtitle {
  padding-left: 15px; }

.popular-container {
  display: flex;
  flex-direction: center;
  flex-grow: 1;
  justify-content: center;
  padding: 15px; }

.popular-item {
  padding: 10px; }

.popular-img:hover {
  transition: transform .2s;
  transform: scale(1.02); }

.advertise {
  display: flex;
  flex-direction: row;
  height: auto; }

.ad-item {
  align-self: stretch;
  flex-grow: 1;
  flex-wrap: wrap; }

.promo {
  background-color: #F5F5F5;
  padding: 50px; }

.promo h3 {
  padding: 15px;
  font-weight: 700; }

.promo p {
  padding: 15px;
  font-weight: 400; }

.advertise img {
  width: 100%;
  object-fit: contain;
  text-align: center; }

.arrivals {
  padding: 20xp;
  margin: 25px; }

.arrivals-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px; }

.arrivals-item {
  align-self: stretch;
  flex-grow: 1; }

.arrivals-item h6 h5 {
  font-size: 1rem;
  font-weight: 300; }

.about-story {
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-grow: 2; }

.story {
  flex-grow: 1 1 auto;
  display: flex;
  flex-wrap: wrap; }

.story-img {
  min-height: 100%; }

.story-content {
  background-color: #8F7A66;
  color: #252020;
  align-content: center; }

.story p {
  margin: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  text-align: stretch; }

.team {
  background-color: #E9E4D9;
  height: auto; }

.designers {
  display: flex;
  flex-direction: flex-start;
  padding: 10px;
  margin: 10px; }

.designer {
  align-self: center;
  flex-grow: 1;
  align-content: center; }

.profile {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.designer h5 {
  text-align: center; }

.designer p {
  text-align: center; }

/* Solid border */
hr.solid {
  border-top: 1.5px solid #E9E4D9; }

.inspire {
  padding: 20xp;
  margin: 25px; }

.inspire-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px; }

.inspire-item {
  align-self: stretch;
  flex-grow: 1; }

.footer-main {
  display: flex;
  flex-direction: row; }

.footer-sec {
  align-self: stretch;
  flex-grow: 1; }

.footer-nav {
  background-color: #E9E4D9;
  display: flex;
  flex-direction: flex-start;
  flex: 2; }

.sub-nav {
  align-items: stretch;
  flex-grow: 1;
  align-content: center; }

.map {
  padding: 10px; }

.shop {
  display: flex;
  flex-direction: column; }

.shop-list {
  padding-left: 10px; }

.footer-news {
  background-color: #8F7A66;
  color: #ffffff;
  flex: 1; }

.newsletter-subscribe {
  color: #313437;
  background-color: #fff;
  padding: 50px 0; }

.newsletter-subscribe p {
  color: #7d8285;
  line-height: 1.5; }

.newsletter-subscribe h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit; }

.newsletter-subscribe .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px; }

.newsletter-subscribe .intro p {
  margin-bottom: 35px; }

.newsletter-subscribe form {
  justify-content: center; }

.newsletter-subscribe form .form-control {
  border: none;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  margin-right: 10px;
  min-width: 250px; }

.newsletter-subscribe form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1; }

.newsletter-subscribe form .btn:hover {
  opacity: 1; }

.newsletter-subscribe form .btn:active {
  transform: translateY(1px); }

.newsletter-subscribe form .btn-primary {
  background-color: #8F7A66 !important;
  color: #fff;
  outline: none !important; }

.copyright {
  background-color: #AA8E72;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.copy {
  align-self: stretch;
  flex-grow: 1;
  padding: 10px; }
