
$color-primary: #AA8E72;
$color-primary-dark: #8F7A66;
$color-primary-light: #E9E4D9;
$color-white: #ffffff;
$color-grey: #F5F5F5;
$color-black: #1f1d1d;
$color-dark: #252020;
$color-background: #f9faf6;