@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";




//link style 

a:link {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}

a:visited {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}

a:hover {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}

a:active {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}


// button style
.btn {
    width: 180px;
    height: 45px;
    cursor: pointer;
    background: none;
    border: 1px solid #ffffff;
    outline: $color-white;
    margin: 15px;
    padding: 10px;
  }
  
  .btn:hover {
    transition: .3s ease-in-out;
    background: #ffffff50;
    border: 2px solid #ffffff;

  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  
// top banner
#top-banner {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: $color-primary-dark;
    color: $color-white;
}

// heading
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 600;
}


// heading left
.nav {
    display: flex;
    flex-direction: flex-start;
}


.nav-sub {
    flex-direction: flex-start;
}

.nav-sub:hover {
    font-weight: 800;
    color: $color-primary;
}

//heading right
.user-info {
    display: flex;
    flex-direction: flex-end;
}


// home section
.home {
    position: relative;

}

.home-bg {
    display: flex;
    filter: contrast(.8);
}

.home-bg-img {
    flex-grow: 1;
    height: 70vh;
    object-fit: cover;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    align-content: center;
}

.home-item{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 600;
}

.home-content h4{
    font-size: 1.3rem;
    font-weight: 500;
}



// popular section

.popular {
    position: relative;
    margin: 25px;

}

.subtitle {
    padding-left: 15px;
}

.popular-container {
    display: flex;
    flex-direction: center;
    flex-grow: 1;
    justify-content: center;
    padding: 15px;
}

.popular-item {
    padding: 10px;

}

.popular-img:hover {
    transition: transform .2s;
    transform: scale(1.02);
}


// advertise banner

.advertise {
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.ad-item {
    flex-grow: 1 1 auto;
    display: flex;
    flex-wrap: wrap
}

.promo {
    background-color: $color-grey;
    color: $color-dark;
    align-content: center;
    line-height: 1.8;
    padding: 5%;
    min-width: 0;
    box-sizing: border-box;
}

//image adjustment

.promo-img{
    min-height: 100%;
}


//new arrivals
.arrivals {
    padding: 20xp;
    margin: 25px;
}

.arrivals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.arrivals-item {
    align-self: stretch;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 300;
}



// about story


.about-story {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-grow:2;
    background-color: $color-primary-dark;

}


.story {
    flex-grow: 1 1 auto;
    display: flex;
    flex-wrap: wrap
}

.story-img{
    min-height: 50%;
    flex: .7;
    margin: 25px;
    align-items: baseline;

}

.story-content {
    flex: 1.3;
    color: $color-dark;
    align-content: center;
    padding: 60px;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    text-align: stretch;
    line-height: 1.5;
}

// team / designers info
// .team {
//     background-color: $color-primary-light;
//     height: 350px;
//     position: relative;

// }

.designer-container {
    background-color: $color-primary-light;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-dark;
    align-content: center;
    flex-grow: 1;

}

.designer {
    background-color: $color-grey;
    align-items: baseline;   
    margin: 3%;
    padding: 3%; 
}

.designer h5 {
    text-align: center;
    line-height: 2;
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Solid border */
hr.solid {
    border-top: 1.5px solid $color-primary-light;
}

// inspire section
.inspire {
    padding: 20xp;
    margin: 25px;
}

.inspire-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.inspire-item {
    align-self: stretch;
    flex-grow: 1;
}



// footer
.footer-main{
    display: flex;
    flex-direction: row;
}

.footer-sec{
    align-self: stretch;
    flex-grow: 1;
}


.footer-nav {
    background-color: $color-primary-light;
    display: flex;
    flex-direction: flex-start;
    flex: 2;
}


.sub-nav {
    align-items: stretch;
    flex-grow: 1;
    align-content: center;
}

.map {
    padding: 10px;
}

.shop {
    display: flex;
    flex-direction: column;
}

.shop-list {
    padding-left: 10px;
}

.footer-subscribe {
    background-color: $color-primary-dark;
    color: $color-white;
    flex: 1;
}

// Subscribe form
.subscribe-content {
    align-content: center;
    align-items: stretch;
    justify-content: center;
    padding: 25px;
    line-height: 1.4;
    text-align: center;
}

label {
    line-height: 1.9rem;
    width: 100%;

  }

input[type="submit"] {
    padding: 3px;
    margin-top: 0.6rem;
    width: 100%;
    color: $color-white;
    
   }

.copyright {
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copy {
    align-self: stretch;
    flex-grow: 1;
    padding: 10px;
}
