@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    font-family: 'Cormorant', serif;
}

//link style 

a:link {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}

a:visited {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}

a:hover {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}

a:active {
    text-decoration: none;
    margin: 5px;
    color: $color-black;
}


// button style
.btn {
    width: 180px;
    height: 45px;
    cursor: pointer;
    background: none;
    border: 1px solid #ffffff;
    outline: $color-white;
    margin: 15px;
    padding: 10px;
  }
  
  .btn:hover {
    transition: .3s ease-in-out;
    background: #ffffff50;
    border: 2px solid #ffffff;

  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  
// top banner
#top-banner {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: $color-primary-dark;
    color: $color-white;
}

// heading
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 600;
}


// heading left
.nav {
    display: flex;
    flex-direction: flex-start;
}


.nav-item {
    flex-direction: flex-start;
}


//heading right
.user-info {
    display: flex;
    flex-direction: flex-end;
}


// home section
.home {
    position: relative;

}

.home-bg {
    display: flex;
    filter: contrast(.8);
}

.home-bg-img {
    flex-grow: 1;
    height: 70vh;
    object-fit: cover;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    align-content: center;
}

.home-item{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: 600;
}

.home-content h4{
    font-size: 1.3rem;
    font-weight: 500;
}



// popular section

.popular {
    position: relative;
    margin: 25px;

}

.subtitle {
    padding-left: 15px;
}

.popular-container {
    display: flex;
    flex-direction: center;
    flex-grow: 1;
    justify-content: center;
    padding: 15px;
}

.popular-item {
    padding: 5px;

}


// advertise banner

.advertise {
    position: relative;

}

.ad-container {
    display: flex;

}

.ad-item {
    flex-grow: 1;
}
.left {
    background-color: $color-primary-dark;
}

.banner-img {
    background-color: $color-primary;
}

.wording {

    align-content: left;
    margin: 25px 25px;
}