* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    //font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    // @include respond(phone) {
    //     font-size: 50%; //1rem = 8px, 8/16=50%
    // }


    //Destop-first: width condition from larger to lower, mobile-fitst is opposite
    @include respond(tab-land) {
        font-size: 75%; //width < 1200
    }

    @include respond(tab-port) { //width < 900
        font-size: 60%;
    }

    // @include respond(phone) {
    //     font-size: 30%; //1rem = 8px, 8/16=50%
    // }

    @include respond(big-desktop) {
        font-size: 90%; //1rem = 12px, 12/16
    }

}

body {
    background-color: $color-background;
    font-family: 'Cormorant', serif;
}